header {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  width: 1000px;
  margin-top: 16.34%;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  color: black;
  background: #f8f8f8;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    'Cambria',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }

footer {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
}

div{
  padding: 10px;
}
