
#parterreVIP {
    grid-column: 2; /* Seconda colonna */
    grid-row: 2; /* Seconda riga */
    border: 1px solid #ccc;
    box-shadow: dimgray 0 0 5px;
    background-color: #fffdf3;
    border-radius: 10px;
    width: 450px;
    height: 150px;
    margin-left: 10px;
}



#parterre {
    grid-column: 2; /* Seconda colonna */
    grid-row: 3; /* Seconda riga */
    border: 1px solid #ccc;
    box-shadow: dimgray 0 0 5px;
    background-color: #fffdf3;
    width: 450px;
    height: 250px;
    border-radius: 10px;
    margin-left: 10px;

}

#palco {
    grid-column: 2 / 3; /* Seconda colonna */
    grid-row: 1; /* Prima riga */
    border: 1px solid #ccc;
    box-shadow: dimgray 0 0 5px;
    background-color: #fffdf3;
    border-radius: 10px;
    width: 450px;
    height: 200px;
    align-content: center;
    margin-left: 10px;
}

#palco1 {
    grid-column: 2 ; /* Seconda colonna */
    grid-row: 1; /* Prima riga */
    border: 1px solid #ccc;
    box-shadow: dimgray 0 0 5px;
    background-color: #fffdf3;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    align-content: center;
}

#pit {
    grid-column: 1 / -1; /* Seconda colonna */
    grid-row: 3; /* Seconda riga */
    border: 1px solid #ccc;
    box-shadow: dimgray 0 0 5px;
    background-color: green;
    width: 600px;
    height: 250px;
    border-radius: 10px;

}

#pitgold {
    grid-column: 1 / -1; /* Seconda colonna */
    grid-row: 2; /* Seconda riga */
    border: 1px solid #ccc;
    box-shadow: dimgray 0 0 5px;
    background-color: goldenrod;
    border-radius: 10px;
    width: 600px;
    height: 150px;
}

button {
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    box-shadow: dimgray 0 0 5px;
    background-color: #fffdf3;
    border-radius: 5px;
}

select{
    width: 98%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: left;
}

input[type=number] {
    -moz-appearance: textfield;
    outline: none; /* Rimuove il bordo azzurro */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:focus {
    outline: none; /* Rimuove il bordo azzurro quando l'input è in focus */
}

.bottone-scelta {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #ffb805;
    color: black;
    margin: 0 5px;
}

select {
    min-width: 150px;
    padding: 5px;
    margin-left: 13%;
    width: fit-content;
    align-content: center;
    text-align: left;
    background-color: #fffdf3;
    border-radius: 8px;
}

.button {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fffdf3;
    box-shadow: none;
    color: black;
    margin: 0 5px;

}

.button:hover {
    background-color: lightgrey;
    color: black;
}


.numero {
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    box-shadow: none;
    font-size: 20px;
}

.posto-occupato {
    background-color: red;
    color: white;
    border: 2px solid darkred;
}

.posto-disponibile {
    background-color: green;
    color: white;
    border: 2px solid darkgreen;
}

.posto-selezionato {
    background-color: blue;
    color: white;
    border: 2px solid darkblue;
}


.centrato {
    text-align: center;
    margin: auto;
    width: 100%;
}

.tariffe {
    margin-left: 10%;
    margin-top: 5%;
    width: fit-content;
    align-content: center;
    text-align: left;
    background-color: #fffdf3;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
}

.piantina{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* 3 colonne */
    grid-template-rows: auto auto auto auto; /* 4 righe */
    gap: 20px; /* Spazio tra gli elementi */
    max-width: 400px; /* Larghezza massima */
    height: 200px; /* Altezza fissa */
    transform: scale(0.5); /* Scala il contenitore a un quarto della dimensione originale */
    transform-origin: center; /* Punto di origine per la trasformazione */
    position: relative; /* Per posizionare gli elementi interni */
    justify-content: center;
    margin-bottom: 30%;
    margin-right: 5%;
    margin-left: 27%;
}

.piantina1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* 3 colonne */
    grid-template-rows: auto auto auto auto; /* 4 righe */
    gap: 20px; /* Spazio tra gli elementi */
    max-width: 400px; /* Larghezza massima */
    height: 200px; /* Altezza fissa */
    transform: scale(0.5); /* Scala il contenitore a un quarto della dimensione originale */
    transform-origin: center; /* Punto di origine per la trasformazione */
    position: relative; /* Per posizionare gli elementi interni */
    justify-content: center;
    margin-bottom: 15%;
    margin-right: 5%;
    margin-left: 27%;
}