
#parterreVIP {
    grid-column: 2; /* Seconda colonna */
    grid-row: 2; /* Seconda riga */
    border: 1px solid gold;
    box-shadow: dimgray 0 0 2px;
    background-color: gold;
    border-radius: 10px;
    width: 450px;
    height: 150px;
    margin-left: 10px;
}



#parterre {
    grid-column: 2; /* Seconda colonna */
    grid-row: 3; /* Seconda riga */
    border: 1px solid antiquewhite;
    box-shadow: dimgray 0 0 2px;
    background-color: antiquewhite;
    width: 450px;
    height: 250px;
    border-radius: 10px;
    margin-left: 10px;

}

#palco {
    grid-column: 2 / 3; /* Seconda colonna */
    grid-row: 1; /* Prima riga */
    border: 1px solid #fffdf3;
    box-shadow: dimgray 0 0 2px;
    background-color: #fffdf3;
    border-radius: 10px;
    width: 450px;
    height: 200px;
    align-content: center;
    margin-left: 10px;
}

#palco1 {
    grid-column: 2 ; /* Seconda colonna */
    grid-row: 1; /* Prima riga */
    border: 1px solid #fffdf3;
    box-shadow: dimgray 0 0 2px;
    background-color: #fffdf3;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    align-content: center;
}

#pit {
    grid-column: 1 / -1; /* Seconda colonna */
    grid-row: 3; /* Seconda riga */
    border: 1px solid forestgreen;
    box-shadow: dimgray 0 0 2px;
    background-color: forestgreen;
    width: 600px;
    height: 250px;
    border-radius: 10px;

}

#pitgold {
    grid-column: 1 / -1; /* Seconda colonna */
    grid-row: 2; /* Seconda riga */
    border: 1px solid gold;
    box-shadow: dimgray 0 0 2px;
    background-color: gold;
    border-radius: 10px;
    width: 600px;
    height: 150px;
}

button {
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    box-shadow: dimgray 0 0 5px;
    background-color: #fffdf3;
    border-radius: 5px;
}

input[type=number] {
    -moz-appearance: textfield;
    outline: none; /* Rimuove il bordo azzurro */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:focus {
    outline: none; /* Rimuove il bordo azzurro quando l'input è in focus */
}


select {
    min-width: 150px;
    padding: 5px;
    margin-left: 13%;
    width: fit-content;
    align-content: center;
    text-align: left;
    background-color: #fffdf3;
    border-radius: 8px;
}

.button {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: lightgrey 1px solid;
    background-color: #fffdf3;
    box-shadow: none;
    color: black;
    margin: 0 5px;

}

.button:hover {
    transform: scale(1.1);
    background-color: gold;
    border: gold 1px solid;
    color: black;
}


.numero {
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    box-shadow: none;
    font-size: 20px;
}

.posto-occupato {
    background-color: red;
    color: white;
    border: 2px solid red;
}

.posto-disponibile {
    background-color: green;
    color: white;
    border: 2px solid green;
}

.posto-disponibile:hover {
    transform: scale(1.2);
}
.posto-selezionato {
    background-color: blue;
    color: white;
    border: 2px solid blue
}

.posto-selezionato:hover {
    transform: scale(1.2);
}

.centrato {
    text-align: center;
    margin: auto;
    width: 100%;
}

.tariffe {
    margin-top: 5%;
    width: fit-content;
    align-content: center;
    text-align: left;
    background-color: #fffdf3;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border: lightgrey 1px solid;
}

.piantina{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* 3 colonne */
    grid-template-rows: auto auto auto auto; /* 4 righe */
    gap: 20px; /* Spazio tra gli elementi */
    max-width: 400px; /* Larghezza massima */
    height: 200px; /* Altezza fissa */
    transform: scale(0.5); /* Scala il contenitore a un quarto della dimensione originale */
    transform-origin: center; /* Punto di origine per la trasformazione */
    position: relative; /* Per posizionare gli elementi interni */
    justify-content: center;
    margin-bottom: 30%;
    margin-right: 5%;
    margin-left: 33%;
}

.piantina1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* 3 colonne */
    grid-template-rows: auto auto auto auto; /* 4 righe */
    gap: 20px; /* Spazio tra gli elementi */
    max-width: 400px; /* Larghezza massima */
    height: 200px; /* Altezza fissa */
    transform: scale(0.6); /* Scala il contenitore a un quarto della dimensione originale */
    transform-origin: center; /* Punto di origine per la trasformazione */
    position: relative; /* Per posizionare gli elementi interni */
    justify-content: center;
    margin-bottom: 25%;
    margin-left: 20%;


}

.main-posti{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;

}

.bottoni{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    margin-top: 10px;
}