.content {
    width: 100%;
    margin-left: auto;

}

.layout-esterno {
    margin-top: 20px;
    display: flex;
    justify-content: center; /* Centra i contenuti orizzontalmente */
    align-items: start; /* Allinea i contenuti in alto */
    gap: 10px; /* Distanza tra la piantina e le tariffe */
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* 3 colonne */
    grid-template-rows: auto auto auto auto; /* 4 righe */
    gap: 20px; /* Spazio tra gli elementi */
    max-width: 400px; /* Larghezza massima */
    height: 200px; /* Altezza fissa */
    transform: scale(0.5); /* Scala il contenitore a un quarto della dimensione originale */
    transform-origin: center; /* Punto di origine per la trasformazione */
    position: relative; /* Per posizionare gli elementi interni */
    margin-right: 52%;
    margin-top: 0;
    margin-bottom: 1px;
    /*background-color: #fffdf3;
    border: 1px solid #ccc;
    box-shadow: dimgray 0 0 5px;*/
}

.container1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* 3 colonne */
    grid-template-rows: auto auto auto auto; /* 4 righe */
    gap: 20px; /* Spazio tra gli elementi */
    max-width: 400px; /* Larghezza massima */
    height: 200px; /* Altezza fissa */
    transform: scale(0.5); /* Scala il contenitore a un quarto della dimensione originale */
    transform-origin: center; /* Punto di origine per la trasformazione */
    position: relative; /* Per posizionare gli elementi interni */
    margin-right: 41%;
    margin-top: 0;
    margin-bottom: 1px;
}

.layout-esterno1 {
    margin-top: 20px;
    margin-right: 0;
    display: flex;
    justify-content: end; /* Centra i contenuti orizzontalmente */
    align-items: start; /* Allinea i contenuti in alto */
    gap: 100px; /* Distanza tra la piantina e le tariffe */
}


.tariffe {
    margin-top: 10%;
    width: 900px;
    align-content: center;
    text-align: left;
    background-color: #fffdf3;
    border-radius: 8px;
    box-shadow: dimgray 0 0 5px;
    padding-left: 20px;
    margin-left: 20px;
}

#parterreVIP {
    grid-column: 2; /* Seconda colonna */
    grid-row: 2; /* Seconda riga */
    border: 1px solid #ccc;
    box-shadow: dimgray 0 0 5px;
    background-color: #fffdf3;
    border-radius: 10px;
    width: 450px;
    height: 150px;
}

#tribuna-sx {
    grid-column: 1; /* Prima colonna */
    grid-row: 2 / 4; /* Dalla seconda alla terza riga */
    transform: rotate(-90deg);

}

#parterre {
    grid-column: 2; /* Seconda colonna */
    grid-row: 3; /* Seconda riga */
    border: 1px solid #ccc;
    box-shadow: dimgray 0 0 5px;
    background-color: #fffdf3;
    width: 450px;
    height: 250px;

}

#tribuna-dx {
    grid-column: 3; /* Terza colonna */
    grid-row: 2 / 4; /* Dalla seconda alla terza riga */
    transform: rotate(90deg);

}

#tribuna {
    grid-column: 1 / 4; /* Tutte e tre le colonne */
    grid-row: 4; /* Quarta riga */
}

#palco {
    grid-column: 2 / 3; /* Seconda colonna */
    grid-row: 1; /* Prima riga */
    border: 1px solid #ccc;
    box-shadow: dimgray 0 0 5px;
    background-color: #fffdf3;
    border-radius: 10px;
    width: 450px;
    height: 200px;
    align-content: center;
}

#palco1 {
    grid-column: 2 ; /* Seconda colonna */
    grid-row: 1; /* Prima riga */
    border: 1px solid #ccc;
    box-shadow: dimgray 0 0 5px;
    background-color: #fffdf3;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    align-content: center;
}

#pit {
    grid-column: 1 / -1; /* Seconda colonna */
    grid-row: 3; /* Seconda riga */
    border: 1px solid #ccc;
    box-shadow: dimgray 0 0 5px;
    background-color: #fffdf3;
    width: 600px;
    height: 250px;
    border-radius: 10px;

}

#pitgold {
    grid-column: 1 / -1; /* Seconda colonna */
    grid-row: 2; /* Seconda riga */
    border: 1px solid #ccc;
    box-shadow: dimgray 0 0 5px;
    background-color: #fffdf3;
    border-radius: 10px;
    width: 600px;
    height: 150px;
}

button {
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    box-shadow: dimgray 0 0 5px;
    background-color: #fffdf3;
    border-radius: 5px;
}

button.occupied {
    background-color: darkred;
    color: white;
}

button.selected{
    background-color: green;
    color: white;
}

select{
    width: 98%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: left;
}

input[type=number] {
    -moz-appearance: textfield;
    outline: none; /* Rimuove il bordo azzurro */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:focus {
    outline: none; /* Rimuove il bordo azzurro quando l'input è in focus */
}

.bottone-scelta {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #ffb805;
    color: black;
    margin: 0 5px;
}