@import './base.css';
/*@import './promo.css';*/
@import './biglietti.css';

/* HEADER */
.logo {
  width: 20%;
}

.right-section {
  width: 70%;
  display: flex;
  justify-content: right;
  align-items: center;
}

.login, .register{
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonM {
  background-color: #ffffff;
  border-color: black;
  border-width: 1px;
  height: 40px;
  border-radius: 5px;
}

.buttonM:hover {
  background-color: grey;
}

/**/

.riepilogo, .form-pagamento, .biglietto .biglietto_dettagli, .riepilogo_dettagli {
  display: flex;
  width: 400px;
}
.immagine_concerto{
  background-image: url(immagine_concerto.jpeg);
  width: 500px;
  height: 500px;
}

.dati_concerto{
  background-color: #ffffff;
  opacity: 0.7;
}

/* PROMOZIONI */
.promotion_section{
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.promo_banner{
  width: 220px;
  height: 300px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.promo_banner img{
  width: 200px;
  height: 100px;
}

.promo_banner:hover {
  background-color: grey;
  box-shadow: 5px 5px 3px black;
}

.benefits{
  text-align: left;
}

.center-button {
  background-color: #ffffff;
  border-color: black;
  border-width: 1px;
  height: 40px;
  border-radius: 5px;
  width: fit-content;
}

.center-button:hover {
  background-color: grey;
}

.payment-methods{
  display: flex;
  justify-content: center;
  align-items: center;
}

.payment-methods img {
  width: 10%;
  height: 10%;
}