@import './base.css';

.logo {
  width: 20%;
}
.right-section {
  width: 70%;
  display: flex;
  justify-content: right;
}
.login, .register{
  display: flex;
  justify-content: center;
  align-items: center;
}
.riepilogo, .form-pagamento {
  flex: 1;
  width: 400px;
}

.button {
  background-color: #ffffff;
  border-color: black;
  border-width: 1px;
  border-radius: 10px;
  height: fit-content;
}

.buttonM {
  background-color: #ffffff;
  border-color: black;
  border-width: 1px;
  height: 40px
}

.button:hover {
  background-color: lightsteelblue;
}

.buttonM:hover {
  background-color: lightblue;
}